#about-page {
    display: grid;
    position: relative;
    color: black;
    min-height: 100vh;
  }
  
  #about-page .image>img {
    margin-top: 5vh;
    width: 20vmax;
  }
  
  #about-page .description>p {
    margin-top: 5vh;
    padding: 0 20%;
  }

  .footer>p {
    margin:0;
  }

  .header {
    margin-top: 10.1vh !important;
  }

  @media screen and (max-width: 575px) {
    #about-page .description>p {
      padding: 0 5%;
    }
  }