#cart-template {
    display: none;
  }

  .my-border-top {
    border-top: 1px solid black;
  }

  #response {
    margin-top: 10vh;
    display: none ;
  }

  #btnBackCol {
    display: none;
  }

  p {
    margin: 2px 0;
  }

  h2 {
    font-size:400%;
  }