#design-page {
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
  }
  
  #design-page .header>img {
    position: absolute;
    left: 2vw;
    height: 75%;
  }
  
  #design-page .content-row{
    min-height: 77.5vh;
  }
  
  #design-page h1 { 
    text-align: center;
  }
  
  #design-page .instructions>p {
    padding: 0 5%;
  }
  
  #design-page .instructions>button {
    margin: 0 5%;
    width: 20%;
  }
  
  #design-page .option>label>img {
    width: 100%; 
  }
  
  
  #design-page .option {
    margin: 6% 0;  
  }
  
  #design-page label {  
    height: 100px;
    width: 100px;
    margin: 0;
  }