body{
    display: grid;
}
    #index-page {
    display: grid;
    position: relative;
    min-height: 100vh;
}

#index-page #content-row {
    color: black;
    margin-top: 60px;
    padding-top: 5vh;
}

#index-page #content-row>section {
    height: 20vh;
    padding: 0 0 0 5%; 
    margin-bottom: 10px;    
}

#index-page #content-row>section>img {
    height: 100%;
}

#index-page #content-row>section>p {
    padding-left: 5%;
}
h1 {
    font-size: 25px;
}
.col-12 {
    justify-content: center;
}
p{
    text-justify: center;
}
@media only screen and (max-width: 600px) {
  p1 {
      justify-content: center;
    width: 315px;
  height: 100px;
  overflow: auto;
  text-align: center;
  margin-left: 25px;
  }
}