* {
  box-sizing: border-box;
}

input[type="radio"] {
  margin: 5px 0 !important;
}

fieldset {
  /* width: 50%; */
  border: 1px solid black;
}

legend {
  width: auto;
  max-width: 50%;
  padding: 2vh 2vh;
}

label {
  /* width: auto; */
  text-align: center;
}

label img {
  max-width: 70%;
}
