body {
  font-family: "Handlee", cursive;
  background-image: url(../img/church_sepia_tone_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
}

main {
  margin-right: 15px;
  display: grid;
}

.button {
  background: white;
  border: 1px solid rgba(34, 33, 33, 0.699);
}

.brand-name,
h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(150, 117, 35);
  font-family: "Parisienne", cursive;
}

.logo {
  max-height: 60px;
  max-width: 60px;
  object-fit: cover;
}

.navbar {
  z-index: 100;
  background: linear-gradient(#f9f9f9, whitesmoke);
  color: black;
  background-repeat: no-repeat;
}

.navbar-toggler {
  color: black;
}

.header {
  position: relative;

  background: rgba(255, 255, 255, 0.5);
  height: 6vh;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(150, 150, 150);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(150,150,150)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header > h1 {
  text-align: center;
}

#footer-text {
  margin-top: 40px;
}

.footer {
  background: linear-gradient(to bottom right, whitesmoke, rgb(92, 86, 86));
  align-self: flex-end;
}

.footer ul {
  list-style-type: none;
}

a {
  color: black;
}
.navbar-text {
  margin-right: 15px;
}
a:hover,
.a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  text-shadow: 2px 2px 8px rgba(34, 33, 33, 0.699);
}
