* {
  box-sizing: border-box;
}

main > section > article > p:first-child {
  margin-top: 2vh;
}

input[type="radio"] {
  margin: 5px 0 !important;
}

fieldset {
  /* width: 50%; */
  border: 1px solid black;
}

legend {
  width: auto;
  font-size: 100%;
  padding: 0 5px;
  margin-left: 10px;
}

label {
  /* width: auto; */
  text-align: center;
}

label img {
  max-width: 70%;
}

.textfieldcol {
  padding-right: 10px !important;
  padding-bottom: 2px !important;
}

.framesize label {
  text-align: left;
  padding-left: 10px !important;
}

select {
  margin: auto;
  width: 95% !important;
}

.header {
  margin: 0 !important;
}

body {
  display: grid;
}